# Ignore all shell scripts
*.sh
*.bash
*.zsh
*.ksh
*.fish

# Ignore all Markdown files
*.md
*.markdown
*.mdown
*.mkd

#ignore virtualenv
*virtualenv
*venv
*.venv
*.env

# Ignore all graphviz files
*.dot

# Common README markdown names
README.md
README.markdown

# Ignore Istio directory
istio-1.28.2

# Ensure .gitignore itself remains tracked
!.gitignore