apiVersion: apps/v1
kind: Deployment
metadata:
  name: k-api
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: k-api
  template:
    metadata:
      labels:
        app: k-api
      annotations:
        sidecar.istio.io/inject: "true"
    spec:
      serviceAccountName: k-api-sa
      automountServiceAccountToken: false
      containers:
      - name: k-api
        image: api:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
          protocol: TCP
        securityContext:
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 1000
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
        resources:
          limits: { cpu: "500m", memory: "256Mi" }
          requests: { cpu: "100m", memory: "128Mi" }
        volumeMounts:
        - name: tmp
          mountPath: /tmp
      volumes:
      - name: tmp
        emptyDir: {}