apiVersion: v1
kind: ServiceAccount
metadata:
  name: k-api-sa
---
apiVersion: security.istio.io/v1beta1
kind: PeerAuthentication
metadata:
  name: default-mtls
  namespace: default
spec:
  mtls:
    mode: STRICT